<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tawny.spring.test.ajax.repository.FavoriteRepository">
	<select id="selectFavorite" parameterType="map" resultType="com.tawny.spring.test.ajax.domain.Favorite">
		SELECT 
			`id`
			, `name`
			, `address`
		FROM
			`favorite`
	</select>
	
	<insert id="insertFavorite" parameterType="map">
		INSERT INTO
			`favorite`
		(
			`name`
			, `address`
		)
		VALUE
		(
			#{name}
			, #{address}
		)
	</insert>
	
	<select id="selectEmail" resultType="int" parameterType="string">
		SELECT 
			count(1)
		FROM
			`favorite`
		WHERE
			`address` = #{address}
	</select>
</mapper>
