<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tawny.spring.test.mybatis.repository.Real_estateRepository">
	
	<!--  1번 조건 -->
	<select id="selectReal_estate" parameterType="int" resultType="com.tawny.spring.test.mybatis.domain.Real_estate">
		SELECT 
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAT`
			, `updatedAT`
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
	</select>
    			
	<!--  2번 조건 -->
	<select id="selectReal_estateRentPrice" parameterType="int" resultType="com.tawny.spring.test.mybatis.domain.Real_estate">
		SELECT 
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAT`
			, `updatedAT`
		FROM
			`real_estate`
		WHERE
			 <![CDATA[`rentPrice` < #{rentPrice}]]> 
			 AND `type` = '월세'
	</select>
	
	<!--  3번 조건 -->
	<select id="selectReal_estateAreaPrice" parameterType="map" resultType="com.tawny.spring.test.mybatis.domain.Real_estate">
		SELECT 
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAT`
			, `updatedAT`
		FROM
			`real_estate`
		WHERE
			<![CDATA[`area` >= #{area}
		AND
			`price` <= #{price}]]>
	</select>
</mapper>










